:root {
  --light-blue: #2196f3;
  --text-grey: #757575;
  --text-white: #ffffff;
  --button-grey-background: #f5f4fa;
  --addres-color: rgba(255, 255, 255, 0.6);
  --background-dark: #2f303a;
  --footer-contacts: #ffffff99;
  --logo-black: #000000;
  --main-black: #212121;
  --icon-grey: #afb1b8;
  --grey-icon-bg: #ffffff1a;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-black);
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

svg {
  vertical-align: middle;
}
/* Header -------------------------------------------------------------------------------------------------------------------------*/
.header {
  border-bottom: 1px solid #ececec;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 25px;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center;
  gap: 46px;
  padding-left: 93px;
}
.header__nav-item {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-black);
  letter-spacing: 0.02em;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-item:hover,
.header__nav-item:focus {
  color: var(--light-blue);
}
.header__nav-item:hover::after,
.header__nav-item:focus::after {
  content: '';
  position: absolute;
  display: block;
  top: 46px;
  width: 100%;
  height: 4px;
  background-color: var(--light-blue);
  border-radius: 2px;
}
.header__nav-item--active {
  color: var(--light-blue);
  position: relative;
  text-decoration: none;
}
.header__nav-item--active::after {
  content: '';
  position: absolute;
  display: block;
  top: 46px;
  width: 100%;
  height: 4px;
  background-color: var(--light-blue);
  border-radius: 2px;
}
.header__contacts {
  display: flex;
  gap: 50px;
  padding-right: 12px;
  padding-top: 1px;
}
.header__contacts :hover,
.header__contacts :focus {
  color: var(--light-blue);
  fill: var(--light-blue);
}
.header__contacts-item {
  text-decoration: none;
  color: var(--text-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-item-icon {
  margin-right: 10px;
  vertical-align: middle;
}
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--light-blue);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  width: fit-content;
}
.logo--black {
  color: var(--logo-black);
}

/* Header-END----------------------------------------------------------------------------------------------- */

/* BUY SECTION------------------------------------------------------------------------------------- */
.offer {
  background-color: var(--background-dark);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
    url('../images/background-main-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.offer__content {
  padding: 200px 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__content-item {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-white);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px 252px;
  padding-bottom: 30px;
}

.offer__content-button {
  background: var(--light-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-white);
  padding: 10px 42px;
  display: flex;
  margin: 0;
}

/* BUY SECTION-END------------------------------------------------------------------------------------ */
/* MODAL-WINDOW------------------------------------------------------------------------------------- */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.modal__content {
  background-color: var(--text-white);
  min-height: 581px;
  width: 528px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: scale(1);
  transition-duration: 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 0px;
}
.modal__content-close-button {
  background-color: var(--text-white);
  color: var(--logo-black);
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001a;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__content-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
  color: #212121;
  margin: 0px;
}

.modal__content-submit-button {
  background: var(--light-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 76px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white);
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms 300ms ease, visibility 300ms 300ms ease;
}
.is-hidden .modal__content {
  transform: scale(0);
  transition-duration: 300ms;
}

.modal__form-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 4px;
  position: relative;
}

.modal__form-section svg {
  position: absolute;
  left: 12px;
  top: 28px;
  pointer-events: none;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-section input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-section textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-section textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-section label {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-section input:focus {
  outline: 1px solid var(--light-blue);
}
.modal__form-section input:focus + svg {
  fill: var(--light-blue);
}
.modal__form-section textarea:focus {
  outline: 1px solid var(--light-blue);
}

.modal__content-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.modal__content-checkbox-input {
  margin: 0;
  appearance: none;
  border: 2px solid var(--main-black);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}
.modal__content-checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
  display: flex;
  align-items: center;
}
.modal__content-checkbox-link {
  color: var(--light-blue);
  text-decoration: underline;
  padding: 0px 4px;
}
.modal__content-checkbox-input:checked + .modal__content-checkbox-svg {
  opacity: 1;
}

.modal__content-checkbox-svg {
  position: absolute;
  opacity: 0;
  width: 16px;
  height: 15px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MODAL-WINDOW-END------------------------------------------------------------------------------------ */
/* our-strengths ------------------------------------------------------------------------------------------- */
.our-strengths {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.our-strengths__item {
  background-color: var(--button-grey-background);
}
.our-strengths__svg {
  margin: 25px 100px;
}
.our-strengths__headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 30px;
}

.our-strengths__text {
  font-size: 14px;
  line-height: 1.78;
  color: var(--text-grey);
  letter-spacing: 0.03em;
  margin: 0;
}
/* our-strengths--END------------------------------------------------------------------------------------------- */

/* our-range---------------------------------------------------------------------------------------------------- */
.our-range {
  margin-top: -94px;
}
.our-range__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
}
.our-range__images {
  display: flex;
  gap: 30px;
}
.our-range__images-item {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.our-range__images-text {
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  position: absolute;
  bottom: 0;
  left: auto;
  width: 100%;
}
/* our-range-END---------------------------------------------------------------------------------------------------- */

/* our-team---------------------------------------------------------------------------------------------------- */
.our-team {
  background-color: var(--button-grey-background);
}
.our-team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}
.our-team__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0px;
  padding: 0;
}
.our-team__list-item {
  background: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
}

.our-team__list-item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
}
.our-team__employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.05;
  letter-spacing: 0.03em;
}
.our-team__employee-job {
  font-size: 16px;
  line-height: 1.05;
  color: var(--text-grey);
  letter-spacing: 0.03em;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 30px;
}
.social-icons__item {
  fill: var(--icon-grey);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__item--bg-grey {
  background-color: var(--grey-icon-bg);
  border-radius: 50%;
  fill: var(--text-white);
}

.social-icons__item:hover,
.social-icons__item:focus {
  fill: var(--text-white);
  border-radius: 50%;
  background-color: var(--light-blue);
  outline: none;
}

/* our-team-END--------------------------------------------------------------------------------------------------- */

/* portfolio buttons-------------------------------------------------------------------------------------------- */
.portfolio-categories {
  list-style: none;
  display: flex;
  gap: 8px;
  padding-bottom: 56px;
  padding-left: 0px;
  margin: 0px;
  justify-content: center;
}
.portfolio-categories__button {
  background: var(--button-grey-background);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-categories__button:hover,
.portfolio-categories__button:focus {
  background: var(--light-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--text-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* portfolio buttons-END------------------------------------------------------------------------------------------- */
/* portfolio boxes-------------------------------------------------------------------------------------------- */
.portfolio-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}
.portfolio-container__item {
  margin: 0px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container__item:hover .portfolio-container__overlay-content {
  transform: translatey(0);
}
.portfolio-container__item:hover,
.portfolio-container__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-container__img {
  vertical-align: middle;
}
.portfolio-container__item figcaption {
  background: var(--text-white);
  border: 1px solid #eeeeee;
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 24px;
}
.portfolio-container__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-container__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-container__description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-grey);
  letter-spacing: 0.03em;
}

.portfolio-container__overlay-content {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}
.portfolio-container__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-white);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  margin: 0;
}
/* portfolio boxes-END------------------------------------------------------------------------------------------- */
/* our customers --------------------------*/
.our-customers__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0px;
}
.our-customers__logo {
  display: flex;
  gap: 30px;
}
.our-customers__logo-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-grey);
  padding: 17.71px 32px 14.25px 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers__logo-item:hover,
.our-customers__logo-item:focus {
  fill: var(--light-blue);
  border: 1px solid var(--light-blue);
  outline: none;
}
/* our customers -END-------------------------*/
/* footer------------------------------------------------------------------------------------------------------------ */
.logo--white {
  color: var(--text-white);
}
.footer {
  background-color: var(--background-dark);
}
.footer__wrapper {
  display: flex;
}
.footer__left {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-top: 20px;
  font-style: normal;
}
.footer__address-item {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-white);
  letter-spacing: 0.03em;
}
.footer__address-contact {
  font-size: 14px;
  line-height: 1.71;
  color: var(--addres-color);
  text-decoration: none;
  display: block;
  letter-spacing: 0.03em;
  width: fit-content;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-contact--underline {
  text-decoration: underline;
}
.footer__address-contact:hover,
.footer__address-contact:focus {
  color: var(--light-blue);
}

.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  fill: var(--icon-grey);
  padding-left: 70px;
  padding-top: 72px;
}

.footer__socials-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  margin: 0px;
}

.footer__form {
  display: flex;
  padding-left: 78px;
  padding-top: 72px;
  flex-direction: column;
}

.footer__form-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  padding-bottom: 20px;
}
.footer__form-clicable {
  display: flex;
  gap: 12px;
}
.footer__form-clicable-input {
  padding: 15px 0px 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-dark);
}
.footer__form-clicable-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.footer__form-clicable-button {
  background: var(--light-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white);
  gap: 24px;
  padding: 10px 26px 10px 42px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-clicable-button-svg {
  fill: var(--text-white);
}

/* footer-END----------------------------------------------------------------------------------------------------------- */
